<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">
   <div class="roe">
     <div class="col-md-12">
       <form onsubmit="submitForm()" name="formCreateProduct" novalidate action="javascript:void(0);">
         <div class="form-group">
           <label for="Name">Name</label>
           <input type="text" id="Name" class="form-control" placeholder="Name" name="name" required>
         </div>

         <div class="form-group">
           <label for="Unit">Unit</label>
           <input type="text" id="Unit" class="form-control" placeholder="Unit" name="unit" required>
           <small id="emailHelp" class="form-text text-muted">(Ví dụ: Hộp 20 gói).</small>
         </div>

         <div class="form-group">
           <label for="Photo">Photo</label>
           <input type="text" id="Photo" class="form-control" placeholder="Photo" name="photo" required>
         </div>

         <div class="form-group">
           <label for="Categories">categories</label>
           <input type="text" id="Categories" class="form-control" placeholder="Categories" name="categories" required>
         </div>

         <div class="form-group">
           <label for="price">price</label>
           <input type="number" id="price" class="form-control" placeholder="price" name="price" required>
         </div>
         <button class="btn btn-primary" type="submit">Save</button>
       </form>
     </div>
   </div>
  </div>
<script>
  function submitForm() {
      if(this.formCreateProduct.checkValidity()){
          const model = Array.from(this.formCreateProduct.elements).reduce((m, it)=>{
              if(it.nodeName !== 'BUTTON'){
                  let value = it.value.trim();
                  if(it.name === 'categories'){
                      value = value.split(',');
                  }
                  m[it.name] = value;
              }
              return m;
          }, {});

          sendRequestCreateProduct(model);
      }
  }
  function sendRequestCreateProduct(model){
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
              alert('Success');
              window.formCreateProduct.reset()
          }
      };
      xhttp.open("POST", "/products", true);
      xhttp.setRequestHeader('Content-type', 'application/json');
      xhttp.send(JSON.stringify(model));
  }
</script>
</body>
</html>
